<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ChromaDB Arayüzü</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <div class="container">
            <h1>ChromaDB Arama</h1>
            <input type="text" id="inputText" placeholder="Metin girin...">
            <div class="buttons">
                <button onclick="addText()">Ekle</button>
                <button onclick="searchText()">Ara</button>
            </div>
            <div id="resultDiv"></div>
        </div>
        <script src="/static/script.js"></script>
    </body>
</html>
